:root {
  --primary: 254, 79, 24;
  // --primary: 10, 138, 240;
  --dark: #171717;
  --body_btn: #c2ab81;
  --body: #131313;
  --grey: #666666;
  --light: #fff;
  --stroke: #808080;
  --ff: "Montserrat";
  --ff_second: "Mulish";
}
